## Follow along the steps of this notebook to generate a dataset that's suitable for creating a test/train split.

**NOTE:** Many of these cells rely on earlier ones. As such, you should only execute a cell once all previous ones have finished running.

In [4]:
import datetime, warnings, scipy 
import pandas as pd
import numpy as np
import math
warnings.filterwarnings("ignore")

In [5]:
data = pd.read_csv("flights.csv", low_memory=False)
print(data.shape)

(5819079, 31)

**Here, we see the data types of the features as they're encoded when imported into a DataFrame.**

In [6]:
data.dtypes

YEAR                     int64
MONTH                    int64
DAY                      int64
DAY_OF_WEEK              int64
AIRLINE                 object
FLIGHT_NUMBER            int64
TAIL_NUMBER             object
ORIGIN_AIRPORT          object
DESTINATION_AIRPORT     object
SCHEDULED_DEPARTURE      int64
DEPARTURE_TIME         float64
DEPARTURE_DELAY        float64
TAXI_OUT               float64
WHEELS_OFF             float64
SCHEDULED_TIME         float64
ELAPSED_TIME           float64
AIR_TIME               float64
DISTANCE                 int64
WHEELS_ON              float64
TAXI_IN                float64
SCHEDULED_ARRIVAL        int64
ARRIVAL_TIME           float64
ARRIVAL_DELAY          float64
DIVERTED                 int64
CANCELLED                int64
CANCELLATION_REASON     object
AIR_SYSTEM_DELAY       float64
SECURITY_DELAY         float64
AIRLINE_DELAY          float64
LATE_AIRCRAFT_DELAY    float64
WEATHER_DELAY          float64
dtype: object

**NOTE:** In the report, we should discuss the creation of the DAY_OF_YEAR feature. Is it an *ordinal* or *categorical* feature? We should also discuss the decision to drop MONTH.

In [7]:
# Note: Aaron changed the entry for key = 4 from 60 to 90.
monthToDaysDict = {1: 0, 2: 31, 3: 59, 4: 90, 5: 120, 6: 151, 7: 181, 8: 212, 
                   9: 243, 10: 273, 11: 304, 12: 334}
def monthToDays(month):
    return monthToDaysDict[month]

# Remove the following features: 
# YEAR, FLIGHT_NUMBER, TAIL_NUMBER, DEPARTURE_TIME, TAXI_OUT, 
# WHEELS_OFF, ELAPSED_TIME, AIR_TIME, WHEELS_ON, TAXI_IN, and ARRIVAL_TIME
data = data.drop(['YEAR', 'FLIGHT_NUMBER', 'TAIL_NUMBER', 'DEPARTURE_TIME', 
                  'TAXI_OUT', 'WHEELS_OFF', 'ELAPSED_TIME', 'AIR_TIME', 'WHEELS_ON', 
                  'TAXI_IN', 'ARRIVAL_TIME'], 1)

# Convert MONTH -> # of days before a month
data['MONTH'] = data['MONTH'].apply(monthToDays)

# Convert MONTH + DAYS -> DAY_OF_YEAR
data['DAY'] = data['DAY'] + data['MONTH']
data.rename(columns={'DAY': 'DAY_OF_YEAR'}, inplace=True)
data = data.drop("MONTH", 1)

In [8]:
data.dtypes

DAY_OF_YEAR              int64
DAY_OF_WEEK              int64
AIRLINE                 object
ORIGIN_AIRPORT          object
DESTINATION_AIRPORT     object
SCHEDULED_DEPARTURE      int64
DEPARTURE_DELAY        float64
SCHEDULED_TIME         float64
DISTANCE                 int64
SCHEDULED_ARRIVAL        int64
ARRIVAL_DELAY          float64
DIVERTED                 int64
CANCELLED                int64
CANCELLATION_REASON     object
AIR_SYSTEM_DELAY       float64
SECURITY_DELAY         float64
AIRLINE_DELAY          float64
LATE_AIRCRAFT_DELAY    float64
WEATHER_DELAY          float64
dtype: object

In [9]:
data.head()

,DAY_OF_YEAR,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_DELAY,SCHEDULED_TIME,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,1,4,AS,ANC,SEA,5,-11.0,205.0,1448,430,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,4,AA,LAX,PBI,10,-8.0,280.0,2330,750,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,1,4,US,SFO,CLT,20,-2.0,286.0,2296,806,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,1,4,AA,LAX,MIA,20,-5.0,285.0,2342,805,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,4,AS,SEA,ANC,25,-1.0,235.0,1448,320,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

**The code below cleans the AIR_SYSTEM_DELAY, SECURITY_DELAY, AIRLINE_DELAY, LATE_AIRCRAFT_DELAY, and WEATHER_DELAY features.**

In [10]:
def notANumberToZero(delay):
    if (math.isnan(delay)):
        return 0
    else:
        return delay
    
data['AIR_SYSTEM_DELAY'] = data['AIR_SYSTEM_DELAY'].apply(notANumberToZero)
data['SECURITY_DELAY'] = data['SECURITY_DELAY'].apply(notANumberToZero)
data['AIRLINE_DELAY'] = data['AIRLINE_DELAY'].apply(notANumberToZero)
data['LATE_AIRCRAFT_DELAY'] = data['LATE_AIRCRAFT_DELAY'].apply(notANumberToZero)
data['WEATHER_DELAY'] = data['WEATHER_DELAY'].apply(notANumberToZero)

print("Transforming delay columns complete!")

Transforming delay columns complete!

In [11]:
data.iloc[50000:50010]

,DAY_OF_YEAR,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_DELAY,SCHEDULED_TIME,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
50000,4,7,DL,JAX,ATL,915,23.0,75.0,270,1030,26.0,0,0,NaN,26.0,0.0,0.0,0.0,0.0
50001,4,7,DL,MSP,SNA,915,109.0,246.0,1522,1121,83.0,0,0,NaN,0.0,0.0,83.0,0.0,0.0
50002,4,7,DL,MSP,PDX,915,0.0,242.0,1426,1117,-6.0,0,0,NaN,0.0,0.0,0.0,0.0,0.0
50003,4,7,DL,ATL,SRQ,915,7.0,93.0,444,1048,8.0,0,0,NaN,0.0,0.0,0.0,0.0,0.0
50004,4,7,DL,MSP,SFO,915,-4.0,265.0,1589,1140,-24.0,0,0,NaN,0.0,0.0,0.0,0.0,0.0
50005,4,7,DL,DEN,ATL,915,0.0,178.0,1199,1413,-2.0,0,0,NaN,0.0,0.0,0.0,0.0,0.0
50006,4,7,EV,ATL,ECP,915,10.0,68.0,240,923,5.0,0,0,NaN,0.0,0.0,0.0,0.0,0.0
50007,4,7,EV,MOB,ATL,915,-1.0,69.0,302,1124,-3.0,0,0,NaN,0.0,0.0,0.0,0.0,0.0
50008,4,7,HA,HNL,LIH,915,-4.0,38.0,102,953,3.0,0,0,NaN,0.0,0.0,0.0,0.0,0.0
50009,4,7,MQ,DFW,PIA,915,-3.0,108.0,672,1103,11.0,0,0,NaN,0.0,0.0,0.0,0.0,0.0

**The following code does 3 things to clean the data:**

1) Replace the NaN values in CANCELLATION_REASON with empty strings

2) Convert SCHEDULED_DEPARTURE to a numeric quantity ranging from 0 to 1440 representing the minutes in a day

3) Do the same for SCHEDULED_ARRIVAL

The reason we have to do the last two things is because SCHEDULED_DEPARTURE and SCHEDULED_ARRIVAL are floats which *actually* represent HHMM time values. We do not need to do the same for SCHEDULED_TIME as it represents estimated travel time in minutes.

In [12]:
def hhmmFloatToMinutes(time):
    timeString = "{:04d}".format(time)
    hours = float(timeString[0:2])
    minutes = float(timeString[2:4])
    totalMinutes = (hours * 60) + minutes
    return totalMinutes

**NOTE:** The cell below will take roughly 30 seconds to a minute to finish.

In [13]:
data['CANCELLATION_REASON'] = data['CANCELLATION_REASON'].fillna('')
data['SCHEDULED_DEPARTURE'] = data['SCHEDULED_DEPARTURE'].apply(hhmmFloatToMinutes)
data['SCHEDULED_ARRIVAL'] = data['SCHEDULED_ARRIVAL'].apply(hhmmFloatToMinutes)

missing_values will show how many NaN/None values are remaining in the dataset.

In [14]:
missing_values = data.isnull().sum(axis=0)
missing_values

DAY_OF_YEAR                 0
DAY_OF_WEEK                 0
AIRLINE                     0
ORIGIN_AIRPORT              0
DESTINATION_AIRPORT         0
SCHEDULED_DEPARTURE         0
DEPARTURE_DELAY         86153
SCHEDULED_TIME              6
DISTANCE                    0
SCHEDULED_ARRIVAL           0
ARRIVAL_DELAY          105071
DIVERTED                    0
CANCELLED                   0
CANCELLATION_REASON         0
AIR_SYSTEM_DELAY            0
SECURITY_DELAY              0
AIRLINE_DELAY               0
LATE_AIRCRAFT_DELAY         0
WEATHER_DELAY               0
dtype: int64

**There's an issue with the ORIGIN_AIRPORT and DESTINATION_AIRPORT features for October 2015. The problem is described in [this](https://www.kaggle.com/usdot/flight-delays/discussion/29600#latest-168452) post on Kaggle. The approach to fix it is drawn from [this](https://www.kaggle.com/srcole/fix-inconsistent-airport-codes) Kaggle kernel.**

The datasets we're using to solve the conflict between the 5-digit airport codes and the 3-letter airport codes can be found in the comments of the kernel linked above.

In [15]:
df_threeLetterCode = pd.read_csv('L_AIRPORT.csv')
df_threeLetterCode.shape

(6429, 2)

After much trial and error, I realized one issue was due to the AUS and YUM codes being replicated as BSM and NYL, respectively. We drop BSM and NYL as the flights.csv file doesn't use these codes.

In [16]:
codesToDrop = ['BSM', 'NYL']
df_threeLetterCode = df_threeLetterCode[~df_threeLetterCode['Code'].isin(codesToDrop)]
threeLetterCodes = list(df_threeLetterCode['Code'])

In [17]:
df_fiveLetterCode = pd.read_csv('L_AIRPORT_ID.csv')
df_fiveLetterCode.shape

(6414, 2)

We set different indices for these two tables to avoid creating a new dictionary.

In [18]:
df3 = df_threeLetterCode.set_index('Description')
df5 = df_fiveLetterCode.set_index('Code')

This DataFrame can be used to double-check the results of fixing the issue at hand. 

We can do so by running the apply method with testFixAirports, outputting countTest, and then comparing it to the shape of df_October.

In [19]:
df_airports = data[['ORIGIN_AIRPORT', 'DESTINATION_AIRPORT']]
df_October = df_airports.loc[~df_airports['ORIGIN_AIRPORT'].isin(threeLetterCodes) |
                            ~df_airports['DESTINATION_AIRPORT'].isin(threeLetterCodes)]
df_October.shape

(486165, 2)

The testFixAirports function simply counts the number of 5-digit airport codes when passed to the apply method. There should be ~500k.

In [20]:
countTest = 0
nFlightsTest = 0
def testFixAirports(airport):
    global countTest
    global nFlightsTest
    nFlightsTest += 1
    if len(airport) != 3:
        countTest += 1
    if nFlightsTest % 1000000 == 0:
        print(nFlightsTest)

The fixOctoberAirports function will create a DataFrame column where the 5-digit airport codes have been replaced by 3-letter airport codes (when passed to apply).

In [21]:
nFlights = 0
def fixOctoberAirports(airport):
    global nFlights
    nFlights += 1
    
    if nFlights % 1000000 == 0:
        print(nFlights)
    
    if len(airport) != 3:
        index = int(airport)
        descriptionAsKey = df5.loc[index]['Description']
        newCode = df3.loc[descriptionAsKey]['Code']
        return newCode
    else:
        return airport

**NOTE:** The two cells below will take several minutes each to run. Specifically, after '4000000' is printed in the output, it will take several minutes to see '5000000'.

In [22]:
fixed_origin_airport = data['ORIGIN_AIRPORT'].apply(fixOctoberAirports)

1000000
2000000
3000000
4000000
5000000

In [23]:
nFlights = 0
fixed_dest_airport = data['DESTINATION_AIRPORT'].apply(fixOctoberAirports)

1000000
2000000
3000000
4000000
5000000

In [24]:
data['ORIGIN_AIRPORT'] = fixed_origin_airport
data['DESTINATION_AIRPORT'] = fixed_dest_airport

countTest should be 0 for both features now if everything worked correctly.

In [25]:
countTest = 0
nFlightsTest = 0
data['ORIGIN_AIRPORT'].apply(testFixAirports)
print()
print("countTest:", countTest)

1000000
2000000
3000000
4000000
5000000

countTest: 0

In [26]:
countTest = 0
nFlightsTest = 0
data['DESTINATION_AIRPORT'].apply(testFixAirports)
print()
print("countTest:", countTest)

1000000
2000000
3000000
4000000
5000000

countTest: 0

**The DataSet class allows us to create a sampled and cleaned instance of a DataFrame. There are more options for DataSet in this notebook than in the DataCleaning.ipynb notebook.**

The categorical (or nominal) variables in our dataset are: DAY_OF_WEEK, AIRLINE, ORIGIN_AIRPORT, DESTINATION_AIRPORT, CANCELLATION_REASON, and (possibly) DAY_OF_YEAR.

In [27]:
def delayTimeToDummy(delay):
    if delay > 0:
        return 1
    else:
        return 0

# cleaningOption specifies how to handle NaN/None values.
#     * "drop" = simply drop the NaN/None values
#     * "mean" = use mean imputation to replace NaN/None values
#     * "median" = use median imputation to replace NaN/None values
#
# sampleFraction specifies how much of the dataset to sample.
#
# dropDelays controls whether to drop the AIR_SYSTEM_DELAY, SECURITY_DELAY, 
# AIRLINE_DELAY, LATE_AIRCRAFT_DELAY, and WEATHER_DELAY features or not.
class DataSet:
    def __init__(self, cleaningOption="drop", sampleFraction=0.1, dropDelays=True):
        # Initialize myData instance variable
        self.myData = None
        # Take care of NaN/None values
        if cleaningOption == "drop":
            self.myData = data.dropna()
        elif cleaningOption == "mean":
            self.myData = data.copy()
            self.myData['DEPARTURE_DELAY'].fillna(data['DEPARTURE_DELAY'].mean(), inplace=True)
            self.myData['SCHEDULED_TIME'].fillna(data['SCHEDULED_TIME'].mean(), inplace=True)
            self.myData['ARRIVAL_DELAY'].fillna(data['ARRIVAL_DELAY'].mean(), inplace=True)
        elif cleaningOption == "median":
            self.myData = data.copy()
            self.myData['DEPARTURE_DELAY'].fillna(data['DEPARTURE_DELAY'].median(), inplace=True)
            self.myData['SCHEDULED_TIME'].fillna(data['SCHEDULED_TIME'].median(), inplace=True)
            self.myData['ARRIVAL_DELAY'].fillna(data['ARRIVAL_DELAY'].median(), inplace=True)
        # Sample data
        self.sampleData(sampleFraction)
        # Drop delay amounts broken down by the 5 different categories
        if dropDelays:
            self.dropDelayColumns()
        # Encode DAY_OF_WEEK, AIRLINE, and CANCELLATION_REASON using one-hot encoding
        self.encodeUsingOneHot()
        # Create a binary target named ARRIVAL_DELAY_BIN: 1 if ARRIVAL_DELAY > 0; 0 otherwise
        self.createBinaryTarget()
        
        print(self.myData.shape)
    def sampleData(self, sampleFraction):
        self.myData = self.myData.sample(frac=sampleFraction, replace=False)
        # TODO: Double check whether the index should be reset
        self.myData = self.myData.reset_index()
        self.myData = self.myData.drop(['index'], axis=1)
    def encodeUsingOneHot(self):
        self.myData = pd.get_dummies(self.myData, columns=['DAY_OF_WEEK', 'AIRLINE', 'CANCELLATION_REASON'], 
                                     drop_first=True)
    def dropDelayColumns(self):
        colsToDrop = ['AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 
                      'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY']
        self.myData.drop(colsToDrop, axis=1, inplace=True)
    def createBinaryTarget(self):
        binaryTarget = self.myData['ARRIVAL_DELAY'].apply(delayTimeToDummy)
        self.myData['ARRIVAL_DELAY_BIN'] = binaryTarget
    def encodeAirports(self):
        pass

We show the NaN/None values for the original dataset for comparison.

In [28]:
missing_values = data.isnull().sum(axis=0)
missing_values

DAY_OF_YEAR                 0
DAY_OF_WEEK                 0
AIRLINE                     0
ORIGIN_AIRPORT              0
DESTINATION_AIRPORT         0
SCHEDULED_DEPARTURE         0
DEPARTURE_DELAY         86153
SCHEDULED_TIME              6
DISTANCE                    0
SCHEDULED_ARRIVAL           0
ARRIVAL_DELAY          105071
DIVERTED                    0
CANCELLED                   0
CANCELLATION_REASON         0
AIR_SYSTEM_DELAY            0
SECURITY_DELAY              0
AIRLINE_DELAY               0
LATE_AIRCRAFT_DELAY         0
WEATHER_DELAY               0
dtype: int64

In [29]:
ds1 = DataSet(cleaningOption="mean", sampleFraction=0.1, dropDelays=True)

(581908, 35)

In [30]:
ds1_missing_values = ds1.myData.isnull().sum(axis=0)
ds1_missing_values

DAY_OF_YEAR              0
ORIGIN_AIRPORT           0
DESTINATION_AIRPORT      0
SCHEDULED_DEPARTURE      0
DEPARTURE_DELAY          0
SCHEDULED_TIME           0
DISTANCE                 0
SCHEDULED_ARRIVAL        0
ARRIVAL_DELAY            0
DIVERTED                 0
CANCELLED                0
DAY_OF_WEEK_2            0
DAY_OF_WEEK_3            0
DAY_OF_WEEK_4            0
DAY_OF_WEEK_5            0
DAY_OF_WEEK_6            0
DAY_OF_WEEK_7            0
AIRLINE_AS               0
AIRLINE_B6               0
AIRLINE_DL               0
AIRLINE_EV               0
AIRLINE_F9               0
AIRLINE_HA               0
AIRLINE_MQ               0
AIRLINE_NK               0
AIRLINE_OO               0
AIRLINE_UA               0
AIRLINE_US               0
AIRLINE_VX               0
AIRLINE_WN               0
CANCELLATION_REASON_A    0
CANCELLATION_REASON_B    0
CANCELLATION_REASON_C    0
CANCELLATION_REASON_D    0
ARRIVAL_DELAY_BIN        0
dtype: int64

**TODO:** ORIGIN_AIRPORT, DESTINATION_AIRPORT, and DAY_OF_YEAR still need to be encoded to be used in a model. 

To accomplish the task above, we can use the weight of evidence (WOE) measure described [here](https://www.kdnuggets.com/2016/08/include-high-cardinality-attributes-predictive-model.html) and [here](https://pkghosh.wordpress.com/2017/10/09/combating-high-cardinality-features-in-supervised-machine-learning/). It is well-suited to high-cardinality categorical variables (i.e. those with many options). To assist with this task, I created the ARRIVAL_DELAY_BIN target variable.

A simpler option is to drop ORIGIN_AIRPORT/DESTINATION_AIRPORT, and simply use DAY_OF_YEAR as is. It is uncertain how much error doing so will introduce.

**TODO:** Depending on the model, certain features will need to be scaled. 

Here are some resources to help us decide how/why to do so:

* https://stats.stackexchange.com/questions/244507/what-algorithms-need-feature-scaling-beside-from-svm)

* https://stats.stackexchange.com/questions/539/does-it-ever-make-sense-to-treat-categorical-data-as-continuous

In [31]:
ds1.myData.to_csv('cleaned_and_sampled_flights_v2.csv', index=False)